@import '../../app/constant.module.scss';
.floatContainer{
    position: absolute;
    right: 40px;
    bottom: 33px;
    display: flex;
    gap: 16px;
    height: 70px;
    width: fit-content;
    align-items: center;
  }
.floatButtonContainer{
    position: relative;
    width: 60px
}
.floatButton{
    @include defaultButton;
}
.bgbuttonTdl{
    background-color: #4F4F4F;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: block;
    position: absolute;
    z-index: -10;
    right: -4px;
}
.bgbuttonMsg{
    background-color: #4F4F4F;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: block;
    position: absolute;
    z-index: -10;
}