@import '../../app/constant.module.scss';
.loading{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    span{font-weight: 600;}
}