@import '../../app/constant.module.scss';

.main{
    width: 734px;
    height: 737px;
    background-color: white;
    position: absolute;
    bottom: 33px+60px+15px;
    right: 40px;
    border-radius: 4px;
}