@mixin defaultButton(){
  background-color: transparent;
  border: none;
  width: 68px;
  height: 68px;
  cursor: pointer;
  display: flex;
}
$black:#333;
$gray:#828282;
$gray-2:#E0E0E0;
$gray-3:#4F4F4F;
$gray-4:#BDBDBD;
$gray-5:#F9F9F9;
$blue:#2F80ED;
$red:#EB5757;
$purple:#9B51E0;
$purple-2:#EEDCFF;
$yellow:#E5A443;
$yellow-2:#FCEED3;
$green:#43B78D;
$green-2:#D2F2EA;