@import '/src/app/constant.module.scss';
.mainContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.aside{
  width: 285px;
  height: 100vh;
  flex-shrink: 0;
  border-right: 1px solid #F2F2F2;
}
.container{
  width: 100%;
  height: 100vh;
}
.searchContainer{
  background: #4F4F4F;
  height: 58px;
  width: 100%;
  padding: 19px 0px 23px 26px;
}
.content{
  width: 100%;
  height: calc(100vh - 58px);
  position: relative;
}
