@import '../../app/constant.module.scss';

.main{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}


.infoBlock{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.buttonSet{ 
    @include defaultButton;
    width: unset;
    height: unset;
}
